# Read, Merge, Process Scop

In [3]:
from src.data.ReadAndCleanScopusCSV import ReadAndCleanScopusCSV

In [4]:
scopus_processor = ReadAndCleanScopusCSV()

DataCleaner instance initialized

In [13]:
import pandas as pd

dtype_dict = {
    8: str,
    20: str,
    28: str,
    30: str,
    31: str,
    32: str,
    33: str,
    34: str,
    35: str,
}


df = pd.read_csv("/Users/jlq293/Downloads/scopus.csv", dtype=dtype_dict)
df["Year"].unique()

array([1999, 1998, 1997, 1996, 1995])

In [15]:
df["DOI"].sample(10)

5640              10.1136/bmj.311.7020.1641a
794         10.1097/00004850-199903000-00003
6713      10.1111/j.1600-0447.1997.tb09933.x
7286            10.1016/0893-133X(95)00240-E
223         10.1097/00004850-199906003-00006
5597        10.1097/00004850-199609004-00001
4135           10.1016/S0306-4522(97)00108-5
2050        10.1097/00004714-199710000-00014
4748    10.1001/archpsyc.1997.01830240035005
1078           10.1016/S0924-977X(97)00080-1
Name: DOI, dtype: object

In [9]:
df["Year"].unique()

array([1999, 1998, 1997, 1996, 1995])

In [7]:
p.Year.unique()

array([1999, 1998, 1997, 1996, 1995])

In [2]:
import pandas as pd

p = "/Users/jlq293/Downloads/scopus_firefox.csv"
df = pd.read_csv(p)

df["Year"].unique()

array([2000, 1999, 1998, 1997, 1996])

In [13]:
df.columns

Index(['Authors', 'Author full names', 'Author(s) ID', 'Title', 'Year',
       'Source title', 'Volume', 'Issue', 'Art. No.', 'Page start', 'Page end',
       'Page count', 'Cited by', 'DOI', 'Link', 'Affiliations',
       'Authors with affiliations', 'Abstract', 'Author Keywords',
       'Index Keywords', 'Molecular Sequence Numbers', 'Chemicals/CAS',
       'Tradenames', 'Manufacturers', 'Funding Details', 'Funding Texts',
       'References', 'Correspondence Address', 'Editors', 'Publisher',
       'Sponsors', 'Conference name', 'Conference date', 'Conference location',
       'Conference code', 'ISSN', 'ISBN', 'CODEN', 'PubMed ID',
       'Language of Original Document', 'Abbreviated Source Title',
       'Document Type', 'Publication Stage', 'Open Access', 'Source', 'EID'],
      dtype='object')

In [7]:
df["DOI"].isna().sum()

2157

In [17]:
df[
    df["Title"].notna()
    & df["Title"].str.contains("Failure of exogenous serotonin to inhibit the release")
]

Empty DataFrame
Columns: [Authors, Author full names, Author(s) ID, Title, Year, Source title, Volume, Issue, Art. No., Page start, Page end, Page count, Cited by, DOI, Link, Affiliations, Authors with affiliations, Abstract, Author Keywords, Index Keywords, Molecular Sequence Numbers, Chemicals/CAS, Tradenames, Manufacturers, Funding Details, Funding Texts, References, Correspondence Address, Editors, Publisher, Sponsors, Conference name, Conference date, Conference location, Conference code, ISSN, ISBN, CODEN, PubMed ID, Language of Original Document, Abbreviated Source Title, Document Type, Publication Stage, Open Access, Source, EID]
Index: []

[0 rows x 46 columns]

In [89]:
df["Year"].unique()

array([1983, 1982, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992,
       1993, 1994, 1995])

In [31]:
df.sample(10).columns

Index(['Authors', 'Author full names', 'Author(s) ID', 'Title', 'Year',
       'Source title', 'Volume', 'Issue', 'Art. No.', 'Page start', 'Page end',
       'Page count', 'Cited by', 'DOI', 'Link', 'Affiliations',
       'Authors with affiliations', 'Abstract', 'Author Keywords',
       'Index Keywords', 'Molecular Sequence Numbers', 'Chemicals/CAS',
       'Tradenames', 'Manufacturers', 'Funding Details', 'Funding Texts',
       'References', 'Correspondence Address', 'Editors', 'Publisher',
       'Sponsors', 'Conference name', 'Conference date', 'Conference location',
       'Conference code', 'ISSN', 'ISBN', 'CODEN', 'PubMed ID',
       'Language of Original Document', 'Abbreviated Source Title',
       'Document Type', 'Publication Stage', 'Open Access', 'Source', 'EID'],
      dtype='object')

In [5]:
# read in data
scopus_processor.read_scopus_data("../data/01-raw/scopus/")

Reading data from ../data/01-raw/scopus/2020-2023_ScopusData_Chunk3.csv
Reading data from ../data/01-raw/scopus/2010-2019_ScopusData_Chunk2.csv
Reading data from ../data/01-raw/scopus/1982-2009_ScopusData_Chunk1.csv
Data from all files read and merged. Nr of Articles: 40605

In [9]:
scopus_processor.df.head(2)

,Authors,Author full names,Author(s) ID,Title,Year,Source title,Volume,Issue,Art. No.,Page start,...,ISBN,CODEN,PubMed ID,Language of Original Document,Abbreviated Source Title,Document Type,Publication Stage,Open Access,Source,EID
0,Marčinko D.; Bolanča M.; Rudan V.,"Marčinko, Darko (56265554700); Bolanča, Marina...",56265554700; 56634322200; 6701581525,Compulsive buying and binge eating disorder-a ...,2006,Progress in Neuro-Psychopharmacology and Biolo...,30,8,NaN,1542,...,NaN,PNPPD,16815617.0,English,Prog. Neuro-Psychopharmacol. Biol. Psychiatry,Article,Final,NaN,Scopus,2-s2.0-33750303895
1,Tornheim J.,"Tornheim, Jerald (23391193200)",23391193200,A commentary on L-tryptophan,2006,Scientific Review of Alternative Medicine,10,NaN,NaN,52,...,NaN,SRAMF,NaN,English,Sci. Rev. Altern. Med.,Note,Final,NaN,Scopus,2-s2.0-38049031595

In [13]:
scopus_processor.df["Year"].unique()

array([2006, 2007, 2008, 2009, 2017, 2018, 2019, 2021, 2022, 2023, 2024])

In [ ]:
# Clean column names
scopus_processor.clean_column_names()

# Remove non-English articles
scopus_processor.english_only()

# Remove a set of columns
scopus_processor.remove_columns(default=True)

# Remove duplicates
scopus_processor.remove_duplicates()

# Remove certain document types
scopus_processor.remove_document_types()

# change types of missing values
scopus_processor.clean_title_abstract()

# clean author column, create a list
scopus_processor.clean_author_names()

Column names cleaned
--------------------------------------------------
Number of articles not in English removed: 16
Removed 0 duplicates based on eid
Removed 1017 articles based on document type
Types removed: ['Book chapter', 'Note', 'Short survey', 'Erratum', 'Retracted', 'Book', 'Data paper', 'Conference review', 'Article in press']

In [6]:
# Save the dataframe as a parquet file
scopus_processor.parquet_saver(
    path="../data/processed/", filename="scopus_data_processed.parquet"
)

Dataframe saved here:
 ../data/processed/scopus_data

In [7]:
scopus_processor.df.head(3)

,authors,title,year,cited_by,doi,link,abstract,author_keywords,index_keywords,references,pubmed_id,document_type,source,eid
0,"[Kiraly; M., Ma; R.C., Dun; N.J.]",Serotonin mediates a slow excitatory potential...,1983,12,10.1016/0006-8993(83)91002-8,https://www.scopus.com/inward/record.uri?eid=2...,Neuropharmacological and histochemical evidenc...,celiac ganglia; non-cholinergic EPSP; serotonin,Action Potentials; Animal; Cyproheptadine; Ele...,"Aghaganian, Asher, Histochemical flourescence ...",6605177.0,Article,Scopus,2-s2.0-0020509808
1,"[Johnston; C.A., Moore; K.E.]",Measurement of 5-hydroxytryptamine synthesis a...,1983,18,10.1007/BF01250047,https://www.scopus.com/inward/record.uri?eid=2...,High performance liquid chromatography coupled...,NaN,Animal; Brain; Corpus Striatum; Hydrazines; Hy...,"Brownstein M.J., Palkovits M., Tappaz M.L., Sa...",6619830.0,Article,Scopus,2-s2.0-0020555550
2,"[Pawlowski; L., Kwiatek; H.]",The effect of highly selective inhibitors of t...,1983,7,10.1007/BF00439273,https://www.scopus.com/inward/record.uri?eid=2...,Well established as supposed antidepressant dr...,5-HT uptake inhibitors; Antidepressant drugs; ...,Adrenergic alpha-Antagonists; Animal; Antidepr...,"Bligh J., Temperature regulation in mummals an...",6138792.0,Article,Scopus,2-s2.0-0020589270